<div class="card" >
  <img class="card-img-top" src="{{ result.image }}" alt="image" >
  <div class="card-body">
    <h4 class="card-title"> {{ result.title }}</h4>
    <p class="card-text">{{ result.description }}</p>
    <a href="{{ result.url }}" class="btn btn-primary">Cliquer sur le lien </a>
  </div>
</div>
